* {
  margin: 0 auto;
  padding: 0;
}

.meals {
  align-items: center;
  background: #d90368;
  color: #2e294e;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
}

.meals form {
  display: flex;
  flex-flow: column wrap;
}

.search-top {
  background: none;
  border: none;
}

header {
  align-items: center;
  background-color: #ffd400;
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  width: 100%;
}

.header-icons {
  background-color: #820263;
  color: #eadeda;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.header-profile-search {
  align-items: flex-end;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

footer {
  display: flex;
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 360px;
}

main {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 10px;
  width: 360px;
}

.navbar {
  background-color: white;
  display: flex;
  font-size: smaller;
}